<div>
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <br>
  <p>{{description}}</p>
  <br>
</div>

<br>

<div class="row mt-4">
  <div class="col-md-12">
    <h3>Add a Comment:</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
    </form>
  </div>

  <br>

  <ul class="list-group">
    {{#each comments as |comment|}}
        <li class="list-item">
          {{comment.user_id}}
        </li>
        <li class="list-item">
          <p>{{comment.description}}</p>
        </li>
    {{/each}}
  </ul>
  <script src="/js/comment.js"></script>